<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cart</title>
  <th:block th:replace="~{layout::link-css}"></th:block>
  <script th:src="@{/js/jquery-3.6.4.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/cart.js}"></script>
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>
<div class="container" th:if="${not #lists.isEmpty(cart.cartItems)}">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Movie ID</th>
      <th scope="col">Tên Phim</th>
      <th scope="col">Số Lượng</th>
      <th scope="col">Giá</th>
      <th scope="col">Tổng</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${cart.cartItems}">
      <td th:text="${item.getMovieId()}"></td>
      <td th:text="${item.getMovieName()}"></td>
      <td>
        <label>
          <input type="number" min="1"
                 th:value="${item.getQuantity()}"
                 th:attr="data-id=${item.getMovieId()}"
                 class="form-control quantity">
        </label>
      </td>
      <td th:text="${item.getGia()}"></td>
      <td th:text="${item.getGia() * item.getQuantity()}"></td>
      <td>
        <a class="btn btn-danger" onclick="return confirm('Are you sure you want to remove this movie from your cart?')"
           th:href="@{/cart/removeFromCart/{id}(id=${item.getMovieId()})}">
          Remove
        </a>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-12">
      <h3>Total: <span th:text="${totalPrice}"></span></h3>
    </div>

    <div class="col-md-12 text-center">
      <a class="btn btn-success"
         th:href="@{/vnpay/index}" onclick="return confirm('Are you sure you want to checkout')">Thanh toán VNPay</a>
      <a class="btn btn-success"
         th:href="@{/cart/checkout}" onclick="return confirm('Are you sure you want to checkout')">Thanh toán</a>
      <a class="btn btn-danger"
         th:href="@{/cart/clearCart}">Xóa toàn bộ giỏ hàng</a>
      <button class="btn btn-primary" id="reloadBtn">Cập nhật lại giá trị đơn hàng</button>
    </div>
  </div>
</div>
<div class="container" th:if="${#lists.isEmpty(cart.cartItems)}">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <h3 class="mt-5">Your cart is empty</h3>
        <p class="lead">Please add some Movies to your cart</p>
        <a class="btn btn-primary" href="/movies">Go to list
          Movie</a>
      </div>

    </div>
    <th:block th:replace="~{layout::footer}"></th:block>
  </div>
</div>
</body>
</html>
